/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
      .container {
          width: 50%;
          margin: 0 auto;
      }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
body{
    margin: 0;
    background: #f8f8ff;
    font-family: sans-serif;
    font-weight: 300;
}
/* nav design*/
.container {
    width: 90%;
    margin: 0 auto;
}
header {
    background: white;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 15px 0;
    margin-top: 0.1%;
}

nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
     display: inline-block;
     margin-left: 70px;
     padding-top: 30px;
     position: relative;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 1000;
}

nav a:hover {
    color: #A8A8FF;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #A8A8FF;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 150ms;
}
nav a:hover::before {
    width: 100%;
}
/* nav design finished*/



h1 {
    color:#7575FF;
    font-size: 200px;
    text-align: left;
    margin: 5% ;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    
}
h2 {
    color: black;
    font-size: 80px;
    text-align: left;
    margin: 5%;
    margin-top: 80px;
    font-weight: 500;
    
}
h3 {
    color:black;
    font-size: 50px;
    text-align: left;
    margin: 5%;
    margin-top: -3%;
    font-weight: 200;
}


footer {
    text-align: center;
}
/* Conatct page below;*/

h1.contact {
    text-align: center;
    margin-top: 5%;
    font-size: 135px;
}

/* about page below */

h1.about {
    text-align: center;
    margin-top: 5%;
    font-size: 100px;
}


.description,
.about-details {
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    margin: 10px 200px;
   
}


/* social buttons */
.media {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-53%,);
}
.media li {
    text-align: center;
    list-style: none;
    margin: 20px ;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #7575FF;
    border: 1px solid 7575FF;
    border-radius: 50%;
    transition: .53%, -58%;
    
}

.media li:hover {
    color: #292929;
    border: 1px solid #292929;
    transition: .5s;
}



.h1-projects {
    font-size: 50px;
}


.about-section {
    background-color: #a6b1e1;
    border-radius: 2px;
    text-align: center;
    margin: 20px 0;
    padding-top: 25px;
    padding-bottom: 50px;

}

.intro {
    padding-bottom: 500px;
}

