/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
      .container {
          width: 50%;
          margin: 0 auto;
      }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
body{
    margin: 0;
    background: #f8f8ff;
    font-family: sans-serif;
    font-weight: 300;
}
/* nav design*/
.container {
    width: 90%;
    margin: 0 auto;
}
header {
    background: white;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 15px 0;
    margin-top: 0.1%;
}

nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
     display: inline-block;
     margin-left: 70px;
     padding-top: 30px;
     position: relative;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 1000;
}

nav a:hover {
    color: #A8A8FF;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #A8A8FF;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 150ms;
}
nav a:hover::before {
    width: 100%;
}
/* nav design finished*/



h1 {
    color:#7575FF;
    font-size: 200px;
    text-align: left;
    margin: 5% ;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    
}
h2 {
    color: black;
    font-size: 80px;
    text-align: left;
    margin: 5%;
    margin-top: 80px;
    font-weight: 500;
    
}
h3 {
    color:black;
    font-size: 50px;
    text-align: left;
    margin: 5%;
    margin-top: -3%;
    font-weight: 200;
    margin-bottom: 60px;
}

.h3-index{
    
    padding-bottom: 140px;
}


footer {
    text-align: center;
}
/* Conatct page below;*/

h1.contact {
    text-align: center;
    margin-top: 5%;
    font-size: 135px;
}

/* about page below */

h1.about {
    text-align: center;
    margin-top: 5%;
    font-size: 100px;
}


.description,
.about-details {
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    margin: 10px 200px;
   
}


/* social buttons */
.media {
    position: absolute;
    top: 165%;
    left: 35%;
    transform: translate(-53%,);
    

    
}
.media li {
    text-align: center;
    list-style: none;
    margin: 20px ;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #7575FF;
    border: 1px solid 7575FF;
    border-radius: 50%;
    transition: .53%, -58%;
    
}

.media li:hover {
    color: #292929;
    border: 1px solid #292929;
    transition: .5s;
}



.h1-projects {
    font-size: 50px;
}


.about-section {
    background-color: #a6b1e1;
    border-radius: 2px;
    text-align: center;
    /* margin: 20px 0; */
    padding-top: 25px;
    padding-bottom: 50px;
    margin-top: 50px;

}

.intro {
    padding-bottom: 500px;
    padding-bottom: 50px;
    
}



#shape-circle0 {    
    position: absolute;
    top: 100px;
    right: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #dcd6f7;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s
    cubic-bezier(0.5, -0.005, 0.2, 1)
    infinite
        alternate;
}

#shape-circle1 {
    position: absolute;
    top: 125px;
    right: 125px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f8f8ff;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    300ms infinite
    alternate;

}

#shape-circle2 {
    position: absolute;
    top: 300px;
    right: 200px;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    background-color: #424874;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s
    cubic-bezier(0.5, -0.005, 0.2, 1)
    infinite
    alternate;
}

#shape-circle3 {
    position: absolute;
    top: 375px;
    right: 275px;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    background-color: #f8f8ff;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    300ms infinite
    alternate;
}

#shape-circle4 {
    position: absolute;
    top: 600px;
    right: 600px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #a6b1e1;
    box-shadow: 0px 0px 9px 1px 
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    infinite
        alternate;
}

#shape-circle5 {
    position: absolute;
    top: 650px;
    right: 650px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f8f8ff;
    box-shadow: 0px 0px 9px 1px  
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    300ms infinite
    alternate;

}


#shape-circle6 {    
    position: absolute;
    top: 275px;
    right: 550px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #dcd6f7;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s
    cubic-bezier(0.5, -0.005, 0.2, 1)
    infinite
        alternate;
}

#shape-circle7 {
    position: absolute;
    top: 301px;
    right: 575px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f8f8ff;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    300ms infinite
    alternate;

}

 #shape-circle8 {
    position: absolute;
    top: 690px;
    right: 40px;
    height: 120px;
    width: 120px;
    border-radius: 35%;
    background-color: #424874;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s
    cubic-bezier(0.5, -0.005, 0.2, 1)
    infinite
    alternate;
}

#shape-circle9 {
    position: absolute;
    top: 725px;
    right: 75px;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    background-color: #f8f8ff;
    box-shadow: 0px 0px 9px 1px
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    300ms infinite
    alternate;
}

#shape-circle10 {
    position: absolute;
    top: 100px;
    right: 400px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #a6b1e1;
    box-shadow: 0px 0px 9px 1px 
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    infinite
        alternate;
}

#shape-circle11 {
    position: absolute;
    top: 650px;
    right: 300px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #f4eeff;
    box-shadow: 0px 0px 9px 1px  
    #00000098;
    animation: floatAnimation 1s 
    cubic-bezier(0.5, -0.005, 0.2, 1)
    300ms infinite
    alternate;

}

@keyframes floatAnimation { 
    0% {
        transform: scale(1)
    rotate(45deg);
        box-shadow: 0px 0px 9px 1px
        #00000098;
    }
    100% {
        transform: scale(1.1)
    rotate(45deg);
        box-shadow: 0px 0px 9px 3px
        #00000098;
    }
}

@keyframes {
    floatAnimation {
        0% {
            transform: scale(1);
            box-shadow: 0px 0px 9px 1px
            #00000098;
            
        }
        100% {
            transform: scale(1.1);
            box-shadow: 0px 0px 9px 3px
            #00000098;
        }
    }
} */